
{% block content %}
<div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-center" href="#">
        <img src="https://www.drupal.org/files/project-images/bootstrap-stack.png" height="30" width="20"  alt="">
        {{title}}</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target='#se'>
        <span class="navbar-toggler-icon"></span>
    </button>  
    <div class="collapse navbar-collapse " id="se">
        
            
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" id="navbarScrollingDropdown" type="button" data-toggle="dropdown" aria-expanded="false">
                  Link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <hr class="dropdown-divider">
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
            <li class="nav-item">
                <a href="#" class="nav-link">blog</a>
            </li> -->
        
         
    </div>  
</nav>

<nav class=" navbar fixed-bottom  navbar-expand-lg navbar-dark bg-primary">
    <div className='container'>
    
          <p class="navbar-brand text-center offset-5" >
              
          © 2020 Copyright:</p>
          <!-- <button class="navbar-toggler" data-toggle="collapse" data-target='#se'>
              <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="collapse  navbar-collapse" id="se">
      
    </div>
    </div>
    </nav>
</div>
{% endblock %}