<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    {% include 'base.html' %}
    {% block content %}

    {% endblock  %}

    <div class="container">
        <div class="row col-6">
            <img src="{{data1.image.url}}" class="img-thumnail offset-9 img-center mt-5 " height="300" /> 
        </div>
        <div class="row ">
            <strong class="dispaly-3">DESCRIPTION:   </strong>
            <p class="mt-5">{{data1.Description}}</p>
        </div>
    </div>
</body>
</html>