<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>HOME</title>
</head>
<body>
    <!-- <h1>home</h1> -->
    {% include 'base.html' %}
    {% block content %}

    {% endblock  %}
    
        <!-- {% if data1 %}
            <h1>dsfs</h1>
        {% else %}
               
        {% endif %}     -->
    

    

    <div class="container ">
        <div class="row">
        {% for i in data %}
        
            <div class="card-group">
                
            <div class="card col-12 m-5" style="width:16rem;height: auto;">
                <div class="card-deck">
                    <img src="{{i.image.url}}" class="card-img-top " height="120"  alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{i.Product_name}}</h5>
                    <a href="/detail/{{i.id}}" class="btn btn-primary mt-2">click</a>
                </div>
                </div>
            </div>
            </div>
        
    
          {% endfor %}
        </div>
            </div>
    </div>
</body>
</html>